<section class="spotlight">
  <div class="image">
    <img src="images/pic01.jpg" alt="" />
  </div>
<div class="content">
  <header class="major">
    <h2>Come party with us in Gerringong!</h2>
    <p>A long (almost) 9 years later we are tying the knot!</p>
    <p>The ceremony will take place at Saint Mary Star of the Sea Church in Gerringong (see the <a href="#location" class="more scrolly">map below</a>) on Saturday the 8th of October. Please arrive at 1:30pm for a 2:00pm ceremony <br>
    <br>The reception will be at the Crooked River Winery in Gerringong. Guests are welcome to arrive from 3:30pm for cocktails, with a 5:00pm start time. </p>
  </header>
  </div>
</section>
