<div class="inner">
  <header class="major">
    <h2>RSVP For Our Big Day</h2>
    <form class="form" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSc2JO0sT_dx3ViWuuFxfALh1i-34iQrkk_awNhRtkJnfILXVg/formResponse">
    <p>Please Enter Your Name(s)</p>
    <input name="entry.1563730825" type="text" required="yes" />
    <p></p>
    <p>Please Enter Your Email</p>
    <input name="emailAddress" type="email" required="yes" />
    <p></p>
    <p>Can You Make It?</p>
    <select class="browser-default" name="entry.475811637">>
      <option value="" disabled selected>Choose your option</option>
      <option name="entry.386655892" value="Of Course" tabindex="0" role="option">Of Course</option>
      <option name="entry.386655892" value="Sorry, I Can't" tabindex="1" role="option">Sorry I Can't</option>
    ></select>
    <p>
    </p>
    <p>What Song Will Get You On The Dancefloor?</p>
    <input name="entry.944635157" type="text" />
    <p></p>
    <p>Do You Have Any Dietary Requirements?</p>
    <input name="entry.1050166990" type="text" />
    <p>
    </p>
    <input type="submit" value="Send" />
    </form>
    </header>
</div>
