<section class="spotlight">
  <div class="content">
  <header class="major">
    <h2>Travelling to our Wedding</h2>
    <p>St Mary Star of the Sea is located in the main town of Gerringong, with Crooked River Winery only a short 4 minute drive away.
    <p>There will be plenty of on-site parking at both locations.</p>
    <p>For those wishing to stay local, there are plenty of accomodation options in Gerringong, Gerroa, Kiama and Berry, just to name a few locations within 15 minutes of the venue.</p>
  </header>
</div>
<div class="image">
  <img src="images/pic02.jpg" alt="" />
</div>
</section>
